/**
General rules
*/
body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/** ----------Content------------ */
#head{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 0px;
}

#head div img{
    max-width: 50%;
    height: auto;
}

#head h1{
    text-align: center;
    color: rgb(255, 0, 0);
    padding-top: 10px;
}

a:visited{
    color: rgb(0, 208, 255)
}

#head form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
}